<!-- <div class="mat-toolbar" color="primary">
    <img src="assets/prueba.png" class="logo"/>
</div> -->

<div mat-toolbar >
    <div mat-toolbar-row>
        <div class="logo-fondo">
            <img src="assets/prueba.png" class="logo"/>
        </div>
         <button mat-icon-button class="example-icon btnHeader" aria-label="Example icon-button with menu icon">
            <span class="material-icons">
                menu
            </span>
                
          </button>

          <!-- <div class="logobuttom">

          </div> -->
    </div>
    
</div>