.logo{
    width: 62%;
    left: 14%;
    /* margin-right: 3%; */
    position: relative;
}
.example-spacer {
    flex: 1 1 auto;
  }

.btnHeader{
    left: 15%;
}

.logo-fondo{
    position: absolute;
    background-color: white;
    width: 15%;
}